
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

input[type=text] {
    background-color: transparent;
    border: 0px solid;
    height: 100%;
    width: 100%;
    color: black;
    font-size: 24px;
    margin: 0;
}


.parent-element {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.element {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

div.floating {
    position: -webkit-sticky;  // required for Safari
    position: sticky;
    top: 0; // required as well.
    bottom: 32px;
    right: 64px;
}

.post-block {
    background: white;
}

.post-date {
    padding: 16px 0px;
}

.post-date-day {
    color: coral;
    font-size: 12px;
}

.post-detail {
    padding: 16px 0px;
}

.post-detail-title {
    color: black;  
    font-size: 16px;  
}

.post-detail-body { 
    font-size: 12px;  
}

.post-header-date { 
    padding: 16px 0px;
}

.post-header-month {
    font-size: 12px;  
}

.post-header-day {
    font-size: 24px;  
}

.post-header-title {
    font-size: 24px;
    font-weight: bold;
    color: black;  
    margin: 16px 0px 0px 0px;
}

.post-detail-block {
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding-bottom: 32px;
}

.post-block-description {
    padding-bottom: 64px;
}

.post-body-description { 
    padding: 32px 64px 32px 64px;
}

.post-detail-description {
    font-size: 12px;
    font-weight: bold;
    color: black;
}

.hr-custom {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    padding: 0; 
}

.hr-custom-no-border {
    display: block;
    height: 1px;
    border: 0;
    margin: 16px 0px;
    padding: 0; 
}

.post-detail-body-user {
    background: white;
    padding: 32px 64px;
}

.post-detail-block-create { 
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 32px 64px;
}

.user-avatar {
    float: left;
}

.user-detail {
    margin-left: 62px;
}

.user-detail-name {
    color: black;
    font-size: 12px;
}

.user-detail-time {
    font-size: 12px;
}

.post-block a:link {
    /* Applies to unvisited links in class mainNav */
    text-decoration:  none;
    // font-weight:      bold;
    // background-color: #ddd;
    // color:            blue;
} 
.post-block a:visited {
    /* Applies to visited links in class mainNav */
    text-decoration:  none;
    // font-weight:      bold;
    // background-color: #ddd;
    // color:            #f0f;
} 
.post-block a:hover   {
    /* Applies to links under the pointer in class mainNav */
    text-decoration:  none;
    // font-weight:      bold;
    // background-color: blue;
    // color:            #fff;
} 
.post-block a:active  {
    /* Applies to activated links in class mainNav */
    text-decoration:  none;
    // font-weight:      bold;
    // background-color: black;
    // color: white;
} 